{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<div class="left">
    <div class="vertical-nav">
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</div>

<div class="header-desktop">
    <div class="header-content-widgets">
        <div class="header-left">
            {{widget('content', 'headercontentleft', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
        </div>
        <div class="header-right">
            {{widget('content', 'headercontentright', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
        </div>
    </div>
    <header class="companyheader clearfix">
        {{widget('logo', 'desktoplogo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'desktopcompanyname', {"business": "profile"})|raw}}
    </header>  
</div> 
 
 <!-- TOP NAV= Company name and nav in IPAD -->

<div class="top-nav wrapper clearfix">
    <header class="bk-header">
        <div class="companyheader clearfix">
            {{widget('logo', 'toplogo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'topcompanyname', {"business": "profile"})|raw}}
        </div>
    </header>
        {widget('extendednavigation', 'topnavigation', {})|raw}}
</div>

 <div class="right">
    <div class="main wrapper clearfix">
                {{zone('main')|raw}}
    </div>  
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">       
        {{widget('profile', 'footercolumn1profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
    </div>
</footer>

</div>

{% endblock %}